<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
    <title>책마루 :: 관리자 BOOK LIST</title>
 	    
    <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->   
     <th:block th:replace="~{include/js/admin_js.html::admin_js}"></th:block>
</head>

<div class="content-wrap" layout:fragment="content">
    <h2 class="title">BOOK LIST</h2>
        
    <div class="content">
    
    
    	<div class="search">
                <form th:action="@{/admin/book/book_list_form}" name="search_book_form" method="get">                	
                 	<select name="list_sort" id="list_sort" class="select">              
	                    <option th:value="name" th:selected="${sort} == 'name'">도서명</option>
	                    <option th:value="isbn" th:selected="${sort} == 'isbn'">ISBN</option>	                     
	                    <option th:value="author" th:selected="${sort} == 'author'">저자명</option>	                 
	                </select>
                    <input type="search" name="search" th:value="${search}" class="input" placeholder="검색어를 입력하세요.">
                    <button type="submit" class="btn main">검색</button>
                </form>
        </div>
    
    	    
	    <div class="table-wrap">
	     	<table class="book-table">
	    		<thead>
		   			<tr>
	    				<th style="width: 55px;">도서 NO</th>
	    				<th style="width: 100px;">썸네일</th>
	    				<th style="width: 180px;">도서 이름</th>
	    				<th style="width: 120px;">도서 저자</th>
	    				<th style="width: 170px;">도서 소개</th>    				
	    				<th style="width: 100px;">출판사명</th>
	    				<th style="width: 80px;">출판일</th>
	    				<th style="width: 60px;">분류기호</th>
	    				<th style="width: 100px;">ISBN</th>
	    				<th style="width: 70px;">도서 가격</th>    						
	    				<th style="width: 50px;">재고</th>
	    				<th style="width: 85px;">등록일</th>
	    				<th style="width: 85px;">수정일</th>    			
	    				<th style="width: 50px;" th:if="${session.loginedAdminMemberDto.a_grade != 0}">수정</th>
	    				<th style="width: 50px;" th:if="${session.loginedAdminMemberDto.a_grade == 2}">삭제</th>	    					   			
	    			</tr>   	
    			</thead>
    			<tbody th:each="list : ${items}" th:data-index="${list.b_no}">
    				<tr class="table-tr" th:id="${'del_no_' + list.b_no}">
	    				<td th:text="${list.b_no}"></td>
	    				<td th:text="${list.b_thumbnail}"></td>
	    				<td><a th:href="@{/book/view/{b_no}(b_no=${list.b_no})}">[[${list.b_name}]]</a></td>	    				 
	    				<td th:text="${list.b_author}"></td>
	    				<td th:text="${#strings.substring(list.b_introduce, 0, 20)}"></td>
	    				<td th:text="${list.b_publisher}"></td>
	    				<td th:text="${list.b_publish_date}"></td>
	    				<td th:text="${list.b_kdc}"></td>
	    				<td th:text="${list.b_isbn}"></td>
	    				<td th:text="${list.b_price}"></td>
	    				<td th:text="${list.b_count}"></td>
	    				<td th:text="${#strings.substring(list.b_reg_date, 0, 11)}"></td>
	    				<td th:text="${#strings.substring(list.b_mod_date, 0, 11)}"></td>    					 
	    				<td th:if="${session.loginedAdminMemberDto.a_grade != 0}">
	    				<a th:href="@{/admin/book/modify_book_form(b_no=${list.b_no})}">수정</a></td>
	    				<td th:if="${session.loginedAdminMemberDto.a_grade == 2}">
	    				<a href="#none" th:onclick="deleteBookConfirm([[${list.b_no}]])">삭제</a></td>    				    			
    				</tr>
    			</tbody>    	
    		</table>
       </div>
       <div class="paging">
                <div class="paging-wrap">
                    <th:block th:each="paging : ${listPageDtos}">
                        <a th:href="@{/admin/book/book_list_form(search=${search}, sort=${sort}, page=${paging.pageNum})}" th:class="${paging.className}">[(${paging.pageText})]</a>
                    </th:block>
                </div>

                <div class="page-number">[[${nowPage}]] / [[${allPage}]]</div>
            </div>
    </div>
</div>

</html>