<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block th:fragment="list_js">
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {

            // 리스트 > 정렬
            if (document.getElementById("list_sort")) {
                document.getElementById("list_sort").addEventListener("change", (e) => {
                    let sortSelect = document.getElementById("list_sort");
                    location.href = sortSelect.dataset.link + "&sort=" + sortSelect.value;
                });
            }

            // 리뷰 작성, 수정
            if (document.querySelectorAll(".review-wrap button.submit")[0]) {
                document.querySelectorAll(".review-wrap button.submit").forEach((el) => {
                    el.addEventListener("click", function (e) {
                        console.log(1111);

                        let form = e.target.closest("form");

                        if (form.r_stars.value > 5 || form.r_stars.value < 1) {
                            alert("1~5 사이의 별점을 선택해 주세요.");
                            form.r_stars.value = 1;
                            form.r_stars.focus();
                        } else if (form.r_text.value == "") {
                            alert("리뷰를 입력해 주세요.");
                            form.r_text.focus();
                        } else {
                            form.submit();
                        }
                    });
                });
            };

            // 리뷰 수정창 on/off
            if (document.querySelectorAll(".modify-review")[0]) {
                document.querySelectorAll(".modify-review").forEach(el => {
                    el.addEventListener("click", function (e) {

                        let modifyWrap = this.parentElement.nextSibling.nextSibling;

                        if (modifyWrap.style.display == "none") {
                            modifyWrap.style.display = "flex";
                        } else {
                            modifyWrap.style.display = "none";
                        }
                    })
                });
            }

            // 리뷰 삭제
            if (document.querySelectorAll(".delete-review")[0]) {
                document.querySelectorAll(".delete-review").forEach(el => {
                    el.addEventListener("click", function (e) {
                        let result = confirm("리뷰를 삭제하시겠습니까?");

                        if (result) {
                            location.href = e.target.dataset.link;
                        }
                    })
                });
            }

            // 뷰 number 수정 시 보이는 금액 변경
            if (document.getElementById("cart_count")) {
                updateTotal();

                document.getElementById("cart_count").addEventListener("input", function () {
                    updateTotal();
                })
            }

            if (document.getElementById("add_cart")) {
                document.getElementById("add_cart").addEventListener("click", function () {
                    let bNo = this.dataset.index;
                    let count = document.getElementById("cart_count").value;

                    ajaxAddCart(bNo, count);
                })
            }

            if (document.getElementById("add_pick")) {
                document.getElementById("add_pick").addEventListener("click", function () {
                    let bNo = this.dataset.index;

                    if (this.classList.contains("on")) {
                        ajaxRemovePick(bNo);
                    } else {
                        ajaxAddPick(bNo);
                    }
                })
            }
        });

        function updateTotal() {
            let count = document.getElementById("cart_count").value;
            let price = parseInt(document.querySelector(".price").innerText.replace(/[^0-9]/g, ''));
            let totalPrice = count * price;

            document.getElementById("total_price").innerText = "총 금액: " + totalPrice.toLocaleString() + " BP";
        }

        function ajaxAddCart(bNo, count) {
            let httpRequest = new XMLHttpRequest();

            httpRequest.open("POST", "/ajax/add_my_cart", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    spinnerStatus("off");

                    if (httpRequest.responseText == "true") {
                        let result = confirm("장바구니에 추가되었습니다.\n장바구니로 이동하시겠습니까?");

                        if (result) {
                            location.href = [[@{/mypage/member_cart_form}]];
                        }
                    } else if (httpRequest.responseText == "false") {
                        alert("장바구니 추가에 실패했습니다. 다시 시도해주세요.");
                    }
                } else if (httpRequest.status == 403) {
                    alert("접근 거부");
                    spinnerStatus("off");
                } else if (httpRequest.status == 404) {
                    alert("페이지 없음")
                    spinnerStatus("off");
                } else if (httpRequest.status == 500) {
                    alert("서버 오류 발생");
                    spinnerStatus("off");
                }
            }

            spinnerStatus("on");

            let data = { b_no: bNo, c_book_count: count };

            httpRequest.send(JSON.stringify(data));
        }

        function ajaxAddPick(bNo) {
            let httpRequest = new XMLHttpRequest();

            httpRequest.open("POST", "/ajax/add_member_pick", true);
            httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    // spinnerStatus("off");

                    if (httpRequest.responseText == "true") {

                        document.getElementById("add_pick").classList.remove("off");
                        document.getElementById("add_pick").classList.add("on");

                    } else if (httpRequest.responseText == "duple") {
                        alert("이미 찜 목록에 존재하는 도서입니다.");
                    } else if (httpRequest.responseText == "false") {
                        alert("찜 목록 추가에 실패했습니다. 다시 시도해주세요.");
                    }
                } else if (httpRequest.status == 403) {
                    alert("접근 거부");
                    spinnerStatus("off");
                } else if (httpRequest.status == 404) {
                    alert("페이지 없음")
                    spinnerStatus("off");
                } else if (httpRequest.status == 500) {
                    alert("서버 오류 발생");
                    spinnerStatus("off");
                }
            };

            httpRequest.send("b_no=" + bNo);
        }

        function ajaxRemovePick(bNo) {
            let httpRequest = new XMLHttpRequest();

            httpRequest.open("POST", "/ajax/delete_member_pick", true);
            httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    if (httpRequest.responseText == "true") {
                        document.getElementById("add_pick").classList.remove("on");
                        document.getElementById("add_pick").classList.add("off");
                    } else if (httpRequest.responseText == "false") {
                        alert("찜 목록 제거에 실패했습니다. 다시 시도해주세요.");
                    }

                    spinnerStatus("off");
                } else if (httpRequest.status == 403) {
                    alert("접근 거부");
                    spinnerStatus("off");
                } else if (httpRequest.status == 404) {
                    alert("페이지 없음")
                    spinnerStatus("off");
                } else if (httpRequest.status == 500) {
                    alert("서버 오류 발생");
                    spinnerStatus("off");
                }
            };

            httpRequest.send("b_no=" + bNo);
        }

    </script>
</th:block>

</html>