<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
    <title>책마루 :: 관리자 HOME</title>
</head>

<div id="admin-index" class="content-wrap" layout:fragment="content">
    
    <div class="content">
        <div class="banner">
            <h2 class="title">진행 중 이벤트</h2>

            <div class="item-wrap">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner1.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner2.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner3.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner1.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner2.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/banner3.png}"></div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
          
    </div>
</div>

</html>
