<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 결제 페이지</title>

    <th:block th:replace="~{include/js/payment_js.html::payment_js}"></th:block>
</head>

<div id="payment" class="content-wrap" layout:fragment="content">
    <h2 class="title">주문서</h2>

    <div class="content" th:with="userInfo=${memberCartDtos.get(0)}">
        <form th:action="@{/mypage/all_payment_form_confirm}" name="payment_form" method="post" class="form">

            <div>
                <div class="pay-result" th:each="memberCartDto : ${memberCartDtos}">
                    <div class="pay-info">
                        <a class="pay-img-title" th:href="@{/book/view/{b_no}(b_no=${memberCartDto.b_no})}">
                            <span><img th:src="@{${memberCartDto.b_thumbnail}}" alt="book_thumbnail" /></span>

                            <div class="pay-book-list">
                                <span class="pay-bookname">[[${memberCartDto.b_name}]]</span>

                                <p class="pay-price-result">
                                    [[${#numbers.formatInteger(memberCartDto.b_price, 3, 'COMMA')}]] 포인트 <i
                                        class="fa-solid fa-xmark"></i> [[${memberCartDto.c_book_count}]] 권 =
                                    [[${#numbers.formatInteger(memberCartDto.b_price * memberCartDto.c_book_count, 3,
                                    'COMMA')}]] 포인트
                                </p>
                            </div>
                        </a>
                        <input type="hidden" name="b_no" th:value="${memberCartDto.b_no}" />
                    </div>
                    
                    <input type="hidden" name="b_no" th:value="${memberCartDto.b_no}" />
                    <input type="hidden" name="sb_book_count" th:value="${memberCartDto.c_book_count}" class="sb-count" />
                    <input type="hidden" name="b_count" th:value="${memberCartDto.b_count}" class="b-count" />
                </div>
            </div>

            <div class="member-info">
                <div>
                    <label for="sb_name">받는 사람 이름</label>
                    <input type="text" th:value="${userInfo.m_name}" id="sb_name" name="sb_name" placeholder="수령하실 분의 이름을 적어주세요" />
                </div>

                <div>
                    <label for="search_address_btn">받는 사람 주소</label>
                    <div>
                        <input type="text" id="postcode" name="sb_addr_code" th:value="${userInfo.m_addr_code}"
                            placeholder="우편번호" readonly>
                        <button type="button" id="search_address_btn" onclick="searchAddress()" class="btn sub">우편번호
                            찾기</button>
                    </div>
                    <input type="text" id="address" name="sb_addr" th:value="${userInfo.m_addr}" placeholder="주소"
                        readonly> <input type="text" id="detailAddress" name="sb_detail_addr"
                        th:value="${userInfo.m_detail_addr}" placeholder="상세주소">
                </div>

                <div>
                    <label for="sb_memo">배송 메모</label>
                    <input type="text" id="sb_memo" name="sb_memo" placeholder="배송 메모를 적어주세요" />
                </div>


                <div>
                    <p>전체 금액</p>
                    <p th:text="${#numbers.formatInteger(allPrice, 3, 'COMMA') + '  포인트'}"></p>
                </div>


                <div th:switch="${userInfo.m_grade}">
                    <p>등급 할인</p>
                    <div>
                        <p th:text="${#numbers.formatInteger(discount, 3, 'COMMA') + '  포인트'}"></p>
                    </div>
                </div>

                <div>
                    <p>배송비</p>
                    <div>
                        <p>3,000 포인트</p>
                    </div>
                </div>

                <div th:switch="${userInfo.m_grade}">
                    <label>결제 예정 금액</label>
                    <div>
                        <p th:text="${#numbers.formatInteger(finalPrice, 3, 'COMMA') + '  포인트'}"></p>
                        <input type="number" name="sb_all_price" th:value="${finalPrice}" />
                        <input type="number" name="currentPoint" th:value="${currentPoint}" />
                    </div>
                </div>

                <div>
                    <div>
                        <button type="button" class="payment" onclick="paymentFormSubmit();">결제하기</button>
                        &nbsp;&nbsp;
                        <a th:href="@{/mypage/member_cart_form}">뒤로 가기</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</html>