<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 출석체크</title>

    <th:block th:replace="~{include/js/attendance_js.html::attendance_js}"></th:block>
</head>

<div id="attendance_list" class="content-wrap" layout:fragment="content">
    <h2 class="title"><span class="attendance-id">[[${session[loginedMemberInfo].m_id}]]</span> 님 누적 <span id="acc">[[${acc}]]</span>일 출석</h2>

    <div class="attendance-info">
        <div class="attendance-notice">
            <p>매일 출석 시 200BP 지급</p>
            <p>누적 10일 출석 시 [[${#numbers.arrayFormatInteger(3000, 1,'COMMA')+ ' BP'}]] 추가 지급</p>
        </div>

        <th:block th:if="${todayAttend} == false">
            <button type="button" id="attendance" class="btn highlight">출석체크</button>
        </th:block>
    </div>

    <div class="content">
        <div class="attendance-wrap">
            <div class="stamp-wrap" th:classappend="${items[0].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-dove"></i>
                <span class="date">[[${items[0].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[1].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-dog"></i>
                <span class="date">[[${items[1].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[2].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-cat"></i>
                <span class="date">[[${items[2].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[3].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-frog"></i>
                <span class="date">[[${items[3].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[4].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-otter"></i>
                <span class="date">[[${items[4].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[5].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-fish-fins"></i>
                <span class="date">[[${items[5].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[6].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-horse"></i>
                <span class="date">[[${items[6].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[7].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-crow"></i>
                <span class="date">[[${items[7].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[8].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-hippo"></i>
                <span class="date">[[${items[8].ac_reg_date}]]</span>
            </div>
            <div class="stamp-wrap" th:classappend="${items[9].ac_reg_date} != '' ? 'on'">
                <i class="fa-solid fa-gift"></i>
                <span class="date">[[${items[9].ac_reg_date}]]</span>
            </div>
        </div>
    </div>
</div>

</html>