<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 구매내역</title>

    <th:block th:replace="~{include/js/payment_js.html::payment_js}"></th:block>
</head>

<div id="example_copy" class="content-wrap" layout:fragment="content">
    <h2 class="title">내 구매 내역</h2>

    <div class="content">
        <form class="form" th:action="@{mypage/payment_list_form}" name="payment_list_form" method="post">
			
            <div th:each="items : ${saledBookDtos}">

                <div>
                    <p th:text="${items.sb_no}"></p>
                    <a th:href="@{/book/view/{b_no}(b_no=${items.b_no})}">
                        <img th:src="${items.b_thumbnail}" alt="book_thumbnail" />
                    </a>
                </div>

                <div>
                    <p th:text="${items.sb_reg_date}">구입 일자</p><br>
                    <p th:text="${items.b_name}">도서 제목</p><br>
                    <input type="hidden" th:value="${items.b_no}" />
                    <input type="hidden" th:value="${items.b_count}" />
                    <input type="hidden" th:value="${items.sb_book_count}" />
                    <input type="hidden" th:value="${items.sb_all_price}" />
                </div>

                <div>
                    <p>
                        [[${items.b_price}]] 포인트 <i class="fa-solid fa-xmark"></i> [[${items.sb_book_count}]] 권 =
                        [[${items.sb_all_price}]] 포인트
                    </p>
                    <th:block th:switch="${items.sb_state}">
					    <div th:case="0">주문 취소</div>
					    <div th:case="1">
						    <a th:href="@{/mypage/cancel_payment_confirm(sb_no=${items.sb_no}, b_no=${items.b_no})}">주문 취소</a>
	                    	<a th:href="@{/mypage/return_payment_confirm(sb_no=${items.sb_no}, b_no=${items.b_no})}">반품 신청</a>
	                    </div>
					    <div th:case="2">배송 완료</div>
					    <div th:case="3">반품 처리 중</div>
					    <div th:case="4">반품 완료</div>
					</th:block>
                    
                </div>

            </div>

        </form>
    </div>
</div>

</html>