<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 결제 완료</title>

    <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->
    <!-- <script th:src="@{js/index.js}"></script> -->
</head>

<div id="example_copy" class="content-wrap" layout:fragment="content">
    <h2 class="title">결제 완료</h2>
    
    <div class="content">
        
    </div>
</div>

</html>