<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 내 구매 내역</title>

    <th:block th:replace="~{include/js/payment_js.html::payment_js}"></th:block>
</head>

<div id="my_buy_history" class="content-wrap" layout:fragment="content">
    <h2 class="title">내 구매 내역</h2>

    <div class="content">
        <form class="form" th:action="@{mypage/payment_list_form}" name="payment_list_form" method="post">

            <div class="item-wrap" th:each="item : ${list}">

                <div class="payment-result-header">
                    <div class="o_no">[[${item.key}]]</div>
                    <div class="payment-date" th:text="${#strings.substring(item.value[0].sb_reg_date, 0, 19)}">구입 일자
                    </div>
                </div>

                <div class="book-wrap">
                    <div th:each="book : ${item.value}" class="book">
                        <div>
                            <a class="payment-thumb-name" th:href="@{/book/view/{b_no}(b_no=${book.b_no})}">
                                <img th:src="${book.b_thumbnail}" alt="book_thumbnail" />
                                <p class="payment-book-name" th:text="${book.b_name}">도서 제목</p>
                            </a>
                        </div>

                        <div>
                            <input type="hidden" th:value="${book.b_no}" />
                            <input type="hidden" th:value="${book.b_count}" />
                            <input type="hidden" th:value="${book.sb_book_count}" />
                            <input type="hidden" th:value="${book.sb_all_price}" />
                            <input type="hidden" th:value="${book.sb_order_no}" />
                        </div>

                        <p class="payment-price-result">
                            [[${#numbers.formatInteger(book.b_price, 1, 'COMMA')}]] BP
                            <i class="fa-solid fa-xmark"></i>
                            [[${#numbers.formatInteger(book.sb_book_count, 1, 'COMMA')}]] 권 =
                            [[${#numbers.formatInteger(book.sb_all_price, 1, 'COMMA')}]] BP
                        </p>

                        <div class="payment-point-and-btn">
                            <th:block th:switch="${book.sb_state}">
                                <div class="request-result">
                                    <div th:case="0">주문 취소</div>
                                    <div class="payment-send-btn" th:case="1">
                                        주문 완료
                                        <div th:if="${book.sb_return_mod_date == null}">
                                            <a class="sub btn" th:href="@{/mypage/return_payment_confirm(sb_no=${book.sb_no}, b_no=${book.b_no})}">
                                                반품 신청
                                            </a>
                                        </div>
                                    </div>
                                    <div th:case="2">
                                        <div>구매 확정</div>
                                        <div th:unless="${book.sb_return_mod_date == null}"></div>
                                    </div>
                                    <div th:case="3">반품 처리 중</div>
                                    <div th:case="4">반품 완료</div>
                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>

                <input type="hidden" th:value="${item.key}" />
                <div class="payment-result-price">
                    <span class="payment-point-info">
                        <span>
                            [도서] [[${#numbers.formatInteger(allPriceByKey[item.key], 1, 'COMMA')}]] BP + [배송비] 3,000 BP - [등급 할인] [[${#numbers.formatInteger(saledPriceByKey[item.key], 1, 'COMMA')}]] BP
                        </span>
                    </span>

                    <span class="payment-point-total-info">
                        총 결제 포인트 : [[${#numbers.formatInteger(allPriceByKey[item.key] - saledPriceByKey[item.key] + 3000, 1, 'COMMA')}]] BP
                    </span>
                </div>

                <th:block th:switch="${stateList[item.key]}">
                    <div class="payment-send-btn-bottom" th:case="1">
                        <a class="main btn" th:href="@{/mypage/payment_confirm(sb_order_no=${item.value[0].sb_order_no})}">
                            구매 확정
                        </a>
                        <a class="main btn" th:href="@{/mypage/cancel_payment_confirm(sb_order_no=${item.value[0].sb_order_no})}">
                            주문 취소
                        </a>
                    </div>
                </th:block>
            </div>

        </form>
    </div>
</div>

</html>