<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: BP 내역</title>
</head>

<div id="point_list" class="content-wrap" layout:fragment="content">
    <h2 class="title"><span>[[${session[loginedMemberInfo].m_id}]]님의 BP 내역</span></h2>

    <div class="content">
        <div class="point-list">
            <div class="now-point">잔여 BP : [[${#numbers.arrayFormatInteger(point, 1,'COMMA')+ ' BP'}]]</div>

            <div th:each=" item: ${items}" class="item">
                <div class="date">[[${item.pl_reg_date}]]</div>
                <div class="desc">[[${item.pl_desc}]]</div>
                <div class="point">[[${#numbers.arrayFormatInteger(item.pl_payment_book_point, 1,'COMMA')+ ' BP'}]]</div>
            </div>
        </div>
    </div>
</div>

</html>