<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책마루</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/index.js}"></script>
</head>

<body>
    <div class="wrap">
        <header th:replace="include/admin_header.html::admin_header"></header>

        <section class="main">
            <div layout:fragment="content"></div>
        </section>

        <!-- <footer th:replace="include/footer::default_footer"></footer> -->
    </div>
</body>

</html>