<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<aside th:fragment="aside">
    <div class="aside-wrap">
        <a th:href="@{/book/list(search=${search}, filter=0, sort=${sort})}">총류</a>
        <a th:href="@{/book/list(search=${search}, filter=1, sort=${sort})}">철학</a>
        <a th:href="@{/book/list(search=${search}, filter=2, sort=${sort})}">종교</a>
        <a th:href="@{/book/list(search=${search}, filter=3, sort=${sort})}">사회과학</a>
        <a th:href="@{/book/list(search=${search}, filter=4, sort=${sort})}">자연과학</a>
        <a th:href="@{/book/list(search=${search}, filter=5, sort=${sort})}">기술과학</a>
        <a th:href="@{/book/list(search=${search}, filter=6, sort=${sort})}">예술</a>
        <a th:href="@{/book/list(search=${search}, filter=7, sort=${sort})}">언어</a>
        <a th:href="@{/book/list(search=${search}, filter=8, sort=${sort})}">문학</a>
        <a th:href="@{/book/list(search=${search}, filter=9, sort=${sort})}">역사</a>
    </div>
</aside>

</html>