<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 도서 목록</title>

    <th:block th:replace="~{include/js/list_js.html::list_js}"></th:block>
</head>

<div id="list" class="content-wrap" layout:fragment="content">
    <!-- <h2 class="title">리스트</h2> -->

    <div class="content">

        <aside th:replace="~{/book/aside.html::aside}"></aside>

        <div class="list-wrap">
            <div class="sort">
                <select name="list_sort" id="list_sort" th:data-link="@{/book/list(search=${search}, filter=${filter})}" class="input">
                    <option value="new" th:selected="${sort} == 'new'">최신순</option>
                    <option value="old" th:selected="${sort} == 'old'">오래된 순</option>
                    <option value="best" th:selected="${sort} == 'best'">인기순</option>
                    <option value="review" th:selected="${sort} == 'review'">리뷰많은순</option>
                    <option value="price_low" th:selected="${sort} == 'price_low'">낮은 가격 순</option>
                    <option value="price_high" th:selected="${sort} == 'price_high'">높은 가격 순</option>
                    <option value="name_asc" th:selected="${sort} == 'name_asc'">이름순</option>
                    <option value="name_desc" th:selected="${sort} == 'name_desc'">이름역순</option>
                </select>
            </div>
            
			<div th:if="${items} == null">
                  <div class="list-item-null">현재 판매중인 도서가 존재하지 않습니다.</div>
            </div>
                
            <div class="item-wrap gallery">
                <div th:each="item: ${items}" class="item">
                    <a th:href="@{/book/view/{b_no}(b_no=${item.b_no})}">
                        <div class="thum-wrap">
                            <img th:src="${item.b_thumbnail}" th:alt="${item.b_name}" class="thum">
                        </div>

                        <div class="info">
                            <div class="name ellipsis">[[${item.b_name}]]</div>
                            <div class="author ellipsis">[[${item.b_author}]]</div>
                            <div class="price ellipsis">[[${#numbers.arrayFormatInteger(item.b_price, 1,'COMMA')+ ' BP'}]]</div>
                            <div class="introduce">[[${item.b_introduce}]]</div>
                            <div class="publisher ellipsis">[[${item.b_publisher}]] / [[${item.b_publish_date}]]</div>
                            <div class="star ellipsis">
                                <i class="fa-solid fa-star"></i>
                                <span>[[${#numbers.formatDecimal(item.r_avg, 1, 1)}]] ([[${item.r_count}]])</span>
                            </div>
                        </div>
                    </a>
                </div>

               
            </div>

            <div class="paging">
                <div class="paging-wrap">
                    <th:block th:each="paging : ${listPageDtos}">
                        <a th:href="@{/book/list(search=${search}, filter=${filter}, sort=${sort}, page=${paging.pageNum})}" th:class="${paging.className}">[(${paging.pageText})]</a>
                    </th:block>
                </div>

                <div class="page-number">[[${nowPage}]] / [[${allPage}]]</div>
            </div>
        </div>
    </div>
</div>

</html>