<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: [[${item.b_name}]]</title>
</head>

<div id="view" class="content-wrap" layout:fragment="content">
    <h2 class="title"></h2>

    <div class="content">
        <div class="item-wrap list">
            <div class="item">
                <img th:src="${item.b_thumbnail}" th:alt="${item.b_name}" class="thum">

                <div class="info">
                    <div class="name ellipsis">[[${item.b_name}]]</div>
                    <div class="author ellipsis">[[${item.b_author}]]</div>


                    <div th:if="${item.b_count > 0}" class="count ellipsis">재고: [[${item.b_count}]]</div>
                    <div th:if="${item.b_count == 0}" class="count ellipsis">품절</div>



                    <div class="introduce">[[${item.b_introduce}]]</div>
                    <div class="publisher ellipsis">
                        [[${item.b_publisher}]] /
                        [[${item.b_publish_date}]]
                    </div>

                </div>
            </div>

            <div class="payment-btn-wrap">
                <div class="price ellipsis">[[${item.b_price}]]</div>
                <a th:href="@{/mypage/add_member_pick(b_no=${item.b_no})}" class="btn">찜하기</a>

                <th:block th:if="${item.b_count > 0}">
                    <input type="number" id="cart_count">
                    <a th:href="@{/mypage/add_cart(b_no=${item.b_no})}" class="btn main">장바구니</a>
                    <a th:href="@{/mypage/move_payment(b_no=${item.b_no})}" class="btn sub">바로결제</a>
                </th:block>
            </div>
        </div>

        <div class="review-wrap">
            <th:block th:if="${session.loginedMemberDto != null}">
                <div th:replace="~{/book/review.html::review-write}"></div>
            </th:block>

            <th:block th:if="${session.loginedMemberDto == null}">
                <div>로그인 후 리뷰를 작성할 수 있습니다.</div>
            </th:block>

            <th:block th:if="${reviews} != null">
                <div th:replace="~{/book/review.html::review-list}"></div>
            </th:block>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll(".modify-review").forEach(el => {
                el.addEventListener("click", function (e) {

                    let modifyWrap = this.parentElement.nextSibling.nextSibling;

                    if (modifyWrap.style.display == "none") {
                        modifyWrap.style.display = "flex";
                    } else {
                        modifyWrap.style.display = "none";
                    }
                })
            });

        })
    </script>
</div>


</html>