<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.admin.member.IAdminMemberDaoForMybatis">

	<select id="isAdminMember"
			parameterType="String"
			resultType="Boolean">
			
			SELECT 
				COUNT(*) 
			FROM 
				TBL_ADMIN 
			WHERE 
				A_ID = #{a_id}
				 		
	</select>
	
	
	<insert id="insertAdminAccount"
			parameterType="com.maru.chaekmaru.admin.member.AdminMemberDto">
			
		
			INSERT INTO 
				TBL_ADMIN(A_NO, A_ID, A_PW, A_GRADE, A_NAME, A_PHONE, A_REG_DATE, A_MOD_DATE)   
					VALUES(ADMIN_SEQ.NEXTVAL, #{a_id}, #{a_pw},					
				<choose>
					<when test='a_id.equalsIgnoreCase("super admin")'>
					 					2
					</when>
					<otherwise>
									DEFAULT
					</otherwise>
				</choose>,
					#{a_name},
					#{a_phone},
					SYSTIMESTAMP,
					SYSTIMESTAMP)			
		
				 		
	</insert>

	<select id="selectAdminForLogin"
			parameterType="com.maru.chaekmaru.admin.member.AdminMemberDto"
			resultType="com.maru.chaekmaru.admin.member.AdminMemberDto">
			
		
			SELECT 
				*  
			FROM 
				TBL_ADMIN 
			WHERE 
				A_ID = #{a_id} AND A_PW = #{a_pw} 
				 		
	</select>
	
	
	<update id="updateAdminForModify"
			parameterType="com.maru.chaekmaru.admin.member.AdminMemberDto" >
			
			
			UPDATE 
				TBL_ADMIN  
			SET 
				A_PW = #{a_pw},
				A_PHONE = #{a_phone},
				A_MOD_DATE = SYSTIMESTAMP   
			WHERE 
				A_NO = #{a_no}	
	
	</update>
	
	
	<select id="selectAdminForModify"
			parameterType="Integer"
			resultType="com.maru.chaekmaru.admin.member.AdminMemberDto">
			
			SELECT 
				*  
			FROM 
				TBL_ADMIN 
			WHERE 
				A_NO = #{a_no}
				 		
	</select>
	
	
	<delete id="deleteAdminAccount"
			parameterType="Integer">
			
			DELETE FROM 
				TBL_ADMIN 
			WHERE 
				A_NO = #{a_no}
	
	</delete>
	
	
	<select id="selectAllAdmins"			
			resultType="com.maru.chaekmaru.admin.member.AdminMemberDto">
			
			SELECT * FROM TBL_ADMIN 
			ORDER BY A_NO DESC			
				 		
	</select>
	
	
	<update id="updateAdminApproval"
			parameterType="Integer">
			
			UPDATE 
				TBL_ADMIN 
			SET 
				A_GRADE = 1, 
				A_MOD_DATE = SYSTIMESTAMP								
			WHERE 
				A_NO = #{a_no}	
	
	</update>
		
</mapper>