<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.admin.board.IAdminBoardDaoForMybatis">

	
	<select id="selectDailySales"			
			resultType="com.maru.chaekmaru.admin.board.AdminBoardDto">

	<![CDATA[				
			SELECT (SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-7, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-7, 'MM/DD') AS AB_DAILY_SALES_DATE, 
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-6, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-6, 'MM/DD') AS AB_DAILY_SALES_DATE,
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-5, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-5, 'MM/DD') AS AB_DAILY_SALES_DATE,
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-4, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-4, 'MM/DD') AS AB_DAILY_SALES_DATE,
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-3, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-3, 'MM/DD') AS AB_DAILY_SALES_DATE,
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-2, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-2, 'MM/DD') AS AB_DAILY_SALES_DATE,
				(SELECT SUM(SB_ALL_PRICE - SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 3 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-1, 'YYMMDD')) AS AB_DAILY_SALES,
				TO_CHAR(TRUNC(SYSDATE,'dd')-1, 'MM/DD') AS AB_DAILY_SALES_DATE
			 FROM DUAL;		 									 			   			 
			
	]]>
		
	</select>
	
	
	<select id="selectDailySalesByCate"			
			resultType="com.maru.chaekmaru.admin.board.AdminBoardDto">

	<![CDATA[				
			SELECT (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '0'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '1'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '2'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '3'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '4'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '5'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '6'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '7'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '8'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,		
			 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)   
					 FROM TBL_SALED_BOOK SB JOIN TBL_BOOK B ON SB.B_NO = B.B_NO 
					 WHERE SB.SB_STATE = 3 AND SUBSTR(B.B_KDC, 1, 1) = '9'	
					 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YYMMDD')) AS AB_SALES_CATE,
			ROWNUM-1 AS AB_SALES_CATE_NAME,					 
			TO_CHAR(TRUNC(SYSDATE,'mm')-1, 'YY/MM') AS AB_SALES_CATE_DATE 
			FROM DUAL; 								 			   			 
			
	]]>
		
	</select>
		
	
</mapper>