<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.admin.board.IAdminBoardDaoForMybatis">

	
	<select id="selectDailySales"			
			resultType="com.maru.chaekmaru.admin.board.AdminBoardDto">

	<![CDATA[				
			SELECT (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-6, 'YYMMDD')) AS SC_SALES1,				 
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-5, 'YYMMDD')) AS SC_SALES2,
				
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)  
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-4, 'YYMMDD')) AS SC_SALES3,
				
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-3, 'YYMMDD')) AS SC_SALES4,
				
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-2, 'YYMMDD')) AS SC_SALES5,
				
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd')-1, 'YYMMDD')) AS SC_SALES6,
				
				(SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)   
					 FROM TBL_SALED_BOOK 
					 WHERE SB_STATE = 2 	
					 AND TO_CHAR(SB_SALE_DATE, 'YYMMDD') = TO_CHAR(TRUNC(SYSDATE,'dd'), 'YYMMDD')) AS SC_SALES7,
				TO_CHAR(TRUNC(SYSDATE,'dd')-6, 'MM/DD') AS SC_DATE1,
				TO_CHAR(TRUNC(SYSDATE,'dd')-5, 'MM/DD') AS SC_DATE2,
				TO_CHAR(TRUNC(SYSDATE,'dd')-4, 'MM/DD') AS SC_DATE3,
				TO_CHAR(TRUNC(SYSDATE,'dd')-3, 'MM/DD') AS SC_DATE4,
				TO_CHAR(TRUNC(SYSDATE,'dd')-2, 'MM/DD') AS SC_DATE5,
				TO_CHAR(TRUNC(SYSDATE,'dd')-1, 'MM/DD') AS SC_DATE6,
				TO_CHAR(TRUNC(SYSDATE,'dd'), 'MM/DD') AS SC_DATE7
				
			 FROM DUAL	
	]]>
		
	</select>
	
	
	
	<select id="selectMonthSalesByCate"			
			resultType="com.maru.chaekmaru.admin.board.AdminBoardDto">

	<![CDATA[				
		SELECT (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0)  
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '0') AS SC_C_SALES0,
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '1') AS SC_C_SALES1,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '2') AS SC_C_SALES2,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '3') AS SC_C_SALES3,
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 	 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '4') AS SC_C_SALES4,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '5') AS SC_C_SALES5,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '6') AS SC_C_SALES6,
				 (SELECT SUM(SB.SB_ALL_PRICE - SB.SB_SALED_PRICE)			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '7') AS SC_C_SALES7,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '8') AS SC_C_SALES8,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 	 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '9') AS SC_C_SALES9,		 		 		 
		TO_CHAR(TRUNC(SYSDATE,'MM')-1, 'YY/MM') AS SC_C_DATE1		
	 FROM DUAL
					 			   			 
			
	]]>
		
	</select>
		
	<select id="selectMonthSalesByCateThis"			
			resultType="com.maru.chaekmaru.admin.board.AdminBoardDto">

	<![CDATA[				
		SELECT (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '0') AS SC_C_SALES10,
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '1') AS SC_C_SALES11,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '2') AS SC_C_SALES12,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '3') AS SC_C_SALES13,
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '4') AS SC_C_SALES14,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '5') AS SC_C_SALES15,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '6') AS SC_C_SALES16,
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 				 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '7') AS SC_C_SALES17,        
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 		 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '8') AS SC_C_SALES18,		          		 
		 (SELECT NVL(SUM(SB_ALL_PRICE - SB_SALED_PRICE), 0) 			 
				 FROM TBL_SALED_BOOK SB INNER JOIN TBL_BOOK B ON SB.B_NO = B.B_NO  
				 WHERE SB.SB_STATE = 2 AND TO_CHAR(SB.SB_SALE_DATE, 'YYMM') = TO_CHAR(TRUNC(SYSDATE,'MM'), 'YYMM')
				 AND TO_CHAR(TRUNC(B.B_KDC/100)) = '9') AS SC_C_SALES19,		 		 		 
		TO_CHAR(TRUNC(SYSDATE,'MM'), 'YY/MM') AS SC_C_DATE2			
	 FROM DUAL					 			   			 
			
	]]>
		
	</select>
	
	<select id="selectMailsByAdmin"
			resultType="com.maru.chaekmaru.admin.member.AdminMemberDto">
			
		 SELECT A_ID, A_NAME, A_MAIL 
		 	FROM TBL_ADMIN
		 ORDER BY A_NO 
			 
	</select>
		
</mapper>