<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.book.IBookDao">

	<select id="selectBook" parameterType="Integer"
		resultType="com.maru.chaekmaru.book.BookDto">
 		 <![CDATA[
		 SELECT * FROM TBL_BOOK B LEFT OUTER JOIN 
        (SELECT B_NO, AVG(R_STARS) R_AVG, COUNT(*) R_COUNT 
        FROM TBL_REVIEW GROUP BY B_NO) S
        ON B.B_NO  = S.B_NO
        WHERE B.B_NO = #{b_no}
		]]>
	</select>
	
	<select id="selectBestBooksByStar" parameterType="Integer"
		resultType="com.maru.chaekmaru.book.BookDto">
        
        <![CDATA[
		SELECT * FROM TBL_BOOK B JOIN  
		(SELECT B_NO, AVG(R_STARS) as R_AVG, COUNT(*) as R_COUNT FROM TBL_REVIEW GROUP BY B_NO ORDER BY AVG(R_STARS) DESC) R 
		ON B.B_NO  = R.B_NO WHERE ROWNUM <= #{count}
		]]>
	</select>
	
	<select id="selectBestBooksByReviewCount" parameterType="Integer"
		resultType="com.maru.chaekmaru.book.BookDto">
        
        <![CDATA[
        SELECT * FROM TBL_BOOK B JOIN 
        (SELECT B_NO, AVG(R_STARS) R_AVG, COUNT(*) R_COUNT FROM TBL_REVIEW GROUP BY B_NO ORDER BY COUNT(*) DESC) R 
        ON B.B_NO  = R.B_NO WHERE ROWNUM <= #{count}
		]]>
	</select>
	
	<select id="selectNewBooks" parameterType="Integer"
		resultType="com.maru.chaekmaru.book.BookDto">
        
        <![CDATA[
		SELECT * FROM
		(SELECT * FROM TBL_BOOK ORDER BY B_REG_DATE DESC)
		WHERE ROWNUM <= #{count}]]>
	</select>
	
	
	<select id="setList" parameterType="map"
		resultType="com.maru.chaekmaru.book.BookDto">
        
        <![CDATA[
        SELECT * FROM 
        (SELECT ROWNUM NUM, A.* FROM 
        (SELECT * FROM TBL_BOOK B LEFT OUTER JOIN 
        (SELECT B_NO, AVG(R_STARS) R_AVG, COUNT(*) R_COUNT 
        FROM TBL_REVIEW GROUP BY B_NO) S
        ON B.B_NO  = S.B_NO 
        WHERE B.B_NAME LIKE '%' || #{search} || '%'  
        ${filterSql}
        ORDER BY ${sortSql}) A) 
        WHERE NUM BETWEEN #{startNum} AND #{endNum}
		]]>
	</select>
	
	<select id="countListResult" parameterType="map"
		resultType="Integer">
        
        <![CDATA[
        SELECT COUNT(*) FROM TBL_BOOK B WHERE B.B_NAME LIKE '%' || #{search} || '%' ${filterSql}
        ]]>
	</select>
	
</mapper>