<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.member.IMemberDaoForMybatis">

	<select id="isMember"
			parameterType="String"
			resultType="Integer">
			
			SELECT 
				COUNT(*) 
			FROM 
				TBL_MEMBER 
			WHERE 
				M_ID = #{m_id}

	</select>
	
	<insert id="insertMember"
			parameterType="com.maru.chaekmaru.member.MemberDto">
			
			INSERT INTO 
				TBL_MEMBER(M_ID, M_PW, M_NAME, M_MAIL, M_PHONE, M_ADDR_CODE, M_ADDR, M_DETAIL_ADDR, M_REG_DATE, M_MOD_DATE) 
			VALUES(#{m_id}, #{m_pw}, #{m_name}, #{m_mail}, #{m_phone}, #{m_addr_code}, #{m_addr}, #{m_detail_addr}, SYSTIMESTAMP, SYSTIMESTAMP) 

	</insert>

	<select id="selectMember"
			parameterType="com.maru.chaekmaru.member.MemberDto"
			resultType="com.maru.chaekmaru.member.MemberDto">
			
			SELECT 
				*  
			FROM 
				TBL_MEMBER 
			WHERE 
				M_ID = #{m_id}
	</select>
	
	
	<select id="findIdByNameAndEmail"
            parameterType="map"
            resultType="String">
            SELECT 
                M_ID  
            FROM 
                TBL_MEMBER 
            WHERE 
                M_NAME = #{name} AND M_MAIL = #{email}
	</select>
	
	<select id="selectMemberByFindPw"
            parameterType="map"
            resultType="com.maru.chaekmaru.member.MemberDto">
            SELECT 
                *  
            FROM 
                TBL_MEMBER 
            WHERE 
                M_ID = #{id} AND M_NAME = #{name} AND M_MAIL = #{email}
	</select>
	
	<update id="updateMemberForModify"
			parameterType="com.maru.chaekmaru.member.MemberDto">
			
			UPDATE 
				TBL_MEMBER 
			SET 
				M_NAME=#{m_name},
				M_MAIL=#{m_mail}, 
				M_PHONE=#{m_phone},
				M_ADDR_CODE=#{m_addr_code},
				M_ADDR=#{m_addr},
				M_DETAIL_ADDR=#{m_detail_addr},
				M_MOD_DATE=SYSTIMESTAMP
			WHERE 
				M_ID=#{m_id}	
	
	</update>
	
	
	
	<update id="pwModifyConfirm"
			parameterType="map">
			
			UPDATE 
				TBL_MEMBER 
			SET 
				M_PW = #{m_pw}
			WHERE 
				M_ID = #{id}	
	
	</update>
		
	<update id="leaveMember"
			parameterType="map">
			
			UPDATE 
				TBL_MEMBER 
			SET 
				M_STATE = 0
			WHERE 
				M_ID = #{m_id}	
	</update>
	
	
	<select id="selectNowPoint"
			parameterType="String"
			resultType="Integer">
			SELECT NVL(SUM(PL_PAYMENT_BOOK_POINT), 0) FROM TBL_POINT_LIST WHERE M_ID= #{m_id}
	</select>
	
	<delete id="deleteReview"
		parameterType="String">
			DELETE FROM 
				TBL_REVIEW 
			WHERE 
				M_ID=#{m_id}
	</delete>

	<delete id="deleteCart"
		parameterType="String">
			DELETE FROM 
				TBL_MEMBER_CART 
			WHERE 
				M_ID=#{m_id}
	</delete>
    
	<delete id="deletePick"
		parameterType="String">
			DELETE FROM 
				TBL_MEMBER_PICK 
			WHERE 
				M_ID=#{m_id}
	</delete>
	
		<delete id="deleteAttend"
		parameterType="String">
			DELETE FROM 
				TBL_ATTEND_CHECK 
			WHERE 
				M_ID=#{m_id}
	</delete>
	
	<select id="getMemberGrade"
			parameterType="String"
			resultType="Integer">
			
			SELECT 
				M_GRADE 
			FROM 
				TBL_MEMBER 
			WHERE 
				M_ID = #{m_id}
	</select>
	
	<select id="selectMState"
			parameterType="String"
			resultType="Integer">
			
			SELECT 
				M_STATE 
			FROM 
				TBL_MEMBER 
			WHERE 
				M_ID = #{m_id}
	</select>
		
</mapper>