<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maru.chaekmaru.qna.IQNADao">

	<select id="selectMyQNAs" parameterType="String"
	    resultType="com.maru.chaekmaru.qna.QNADto">
       SELECT * FROM TBL_QNA WHERE M_ID = #{m_id, jdbcType=VARCHAR} ORDER BY Q_NO DESC
	</select>
	
	<select id="selectSbData" parameterType="String"
		resultType="com.maru.chaekmaru.qna.QNADto">
		SELECT SB_NO, SB_SALE_DATE FROM TBL_SALED_BOOK 
		WHERE M_ID = #{m_id, jdbcType=VARCHAR} 
		ORDER BY SB_SALE_DATE DESC  
	</select>
	
	<select id="selectQNA" parameterType="Integer"
		resultType="com.maru.chaekmaru.qna.QNADto">
		SELECT * FROM TBL_QNA WHERE Q_NO = #{q_no} ORDER BY Q_NO DESC 
	</select>
	
	
	<insert id="insertQ"
		parameterType="com.maru.chaekmaru.qna.QNADto">
		INSERT INTO TBL_QNA  
		(Q_NO, M_ID, SB_NO, Q_TITLE, Q_TEXT, Q_REG_DATE)  
		VALUES(QNA_SEQ.NEXTVAL, #{m_id, jdbcType=VARCHAR}, #{sb_no, jdbcType=VARCHAR}, #{q_title, jdbcType=VARCHAR}, 
		#{q_text, jdbcType=VARCHAR}, SYSTIMESTAMP)
	</insert>
		
	<select id="selectQNAs" parameterType="String"
	    resultType="com.maru.chaekmaru.qna.QNADto">
       SELECT * FROM TBL_QNA ORDER BY Q_REG_DATE  
	</select>
	
	<update id="updateA"
		parameterType="com.maru.chaekmaru.qna.QNADto">
		UPDATE TBL_QNA 
		SET QA_TEXT=#{qa_text, jdbcType=VARCHAR}, QA_REG_DATE=SYSTIMESTAMP, QA_MOD_DATE=SYSTIMESTAMP 
		WHERE Q_NO=#{q_no}
	</update>
	
	<delete id="deleteQNA" parameterType="Integer">
		DELETE TBL_QNA WHERE Q_NO = #{q_no}
	</delete>
	
	
</mapper>