<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<header th:fragment="default_header">
    <div class="member-menu">
        <div class="header-wrap">
            <nav>
                <a th:href="@{/}" class="sub-link">문의게시판</a>
                <th:block th:replace="~{::logined_nav_sub_link}"></th:block>
                <th:block th:replace="~{::logouted_nav_sub_link}"></th:block>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header-menu">
        <div class="header-wrap">
            <div class="logo">
                <img th:src="@{/img/dummy/1.jpg}" alt="logo">
            </div>

            <div class="search">
                <form action="" name="" method="">
                    <input type="search" class="input">
                    <button type="submit" class="btn main">검색</button>
                </form>
            </div>

            <nav class="cart-nav">
                <a th:href="@{/}">주문내역</a>
                <a th:href="@{/}">포인트충전</a>
                <a th:href="@{/mypage/member_cart_form}">장바구니</a>
            </nav>
        </div>
    </div>
</header>

<header th:fragment="login_header">
    <!-- 로그인헤더 -->
</header>

<th:block th:fragment="logined_nav_sub_link">
    <a th:href="@{/member/logout_confirm}" class="sub-link">로그아웃</a>
</th:block>

<th:block th:fragment="logouted_nav_sub_link">
    <a th:href="@{/member/create_accout_form}" class="sub-link">회원가입</a>
    <a th:href="@{/member/login_form}" class="sub-link">로그인</a>
</th:block>

<th:block th:fragment="logined_category_menu">
    <ul>
        <li><a th:href="@{/}">출석체크</a></li>
        <li><span>{username}님</span></li>
    </ul>
</th:block>

<section th:fragment="category" class="catogory">
    <div class="category-wrap">
        <nav>
            <a th:href="@{/}" class="cate-link">카테고리 열기</a>
            <a th:href="@{/}" class="cate-link">모든</a>
            <a th:href="@{/}" class="cate-link">인기</a>
            <a th:href="@{/}" class="cate-link">신상품</a>
        </nav>
    </div>
</section>



</html>