<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<header th:fragment="default_header">
    <div class="member-menu">
        <div class="header-wrap">
            <nav>
                <a th:href="@{/qna/qna}" class="sub-link">고객문의</a>

                <th:block th:if="${session.loginedMemberInfo != null}">
                    <th:block th:replace="~{::logined_nav_sub_link}"></th:block>
                </th:block>

                <th:block th:if="${session.loginedMemberInfo == null}">
                    <th:block th:replace="~{::logouted_nav_sub_link}"></th:block>
                </th:block>
            </nav>
        </div>
    </div>

    <div class="header-menu">
        <div class="header-wrap">
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/img/logo3.png}" alt="책마루"></a>
            </div>

            <div class="search">
                <form th:action="@{/book/list}" name="search_form" method="get">
                	<th:block th:if="${search == null}">
                    	<input type="search" name="search" class="input" placeholder="검색어를 입력하세요.">
                    </th:block>
                    <th:block th:if="${search != null}">
                    	<input type="search" th:value="${search}" name="search" class="input" placeholder="검색어를 입력하세요.">
                    </th:block>
                    <button type="submit" class="btn main">검색</button>
                </form>
            </div>

            <nav class="cart-nav">
                <a th:href="@{/mypage/payment_list_form}"><i class="fa-solid fa-receipt"></i></a>
                <a th:href="@{/mypage/point_charge}"><i class="fa-solid fa-coins"></i></a>
                <a th:href="@{/mypage/member_cart_form}"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>
    </div>
</header>

<th:block th:fragment="logined_nav_sub_link">
    <a th:href="@{/member/logout_confirm}" class="sub-link">로그아웃</a>
</th:block>

<th:block th:fragment="logouted_nav_sub_link">
    <a th:href="@{/member/create_account_form}" class="sub-link">회원가입</a>
    <a th:href="@{/member/login_form}" class="sub-link">로그인</a>
</th:block>

<section th:fragment="category" class="header-category">
    <div class="category-wrap">
        <nav>
            <div id="category_btn" class="cate-link">
                <p>카테고리</p>

                <div th:replace="~{/book/aside.html::aside}"></div>
            </div>
            <a th:href="@{/book/list}" class="cate-link">모든</a>
            <a th:href="@{/book/list(sort='best')}" class="cate-link">인기</a>
            <a th:href="@{/book/list(sort='new')}" class="cate-link">신상품</a>
            <!-- <a th:href="@{/styleguide}" class="cate-link">(TEST) 스타일가이드</a> -->
        </nav>

        <nav>
            <a th:href="@{/mypage/attendance_list}" class="cate-link" th:if="${session[loginedMemberInfo]} ne null">출석체크</a>
            <div id="usermenu_btn" class="cate-link" th:if="${session[loginedMemberInfo]} ne null">
                <p class="member-name">
                    <span>[[${session[loginedMemberInfo].m_id}]]님</span>
                    <span class="level level1" th:if="${session[loginedMemberInfo].m_grade} == 0"><i class="fa-solid fa-leaf"></i></span>
                    <span class="level level2" th:if="${session[loginedMemberInfo].m_grade} == 1"><i class="fa-solid fa-seedling"></i></span>
                    <span class="level level3" th:if="${session[loginedMemberInfo].m_grade} == 2"><i class="fa-brands fa-pagelines"></i></span>
                </p>

                <div class="usermenu-list">
                    <div class="point">
                        <a th:href="@{/mypage/point_list}" class="point-now">
                            [[${#numbers.arrayFormatInteger(session[loginedMemberInfo].point, 1,'COMMA')+ ' BP'}]]
                        </a>
                        <a th:href="@{/mypage/point_charge}" class="btn main">충전</a>
                    </div>

                    <div class="shop">
                        <a th:href="@{/mypage/member_pick}">찜 목록</a>
                        <a th:href="@{/mypage/member_cart_form}">장바구니</a>
                        <a th:href="@{/mypage/payment_list_form}">구매내역</a>
                        <a th:href="@{/mypage/my_review}">내가 쓴 리뷰</a>
                    </div>

                    <div class="member">
                        <a th:href="@{/member/modify_form}">정보수정</a>
                        <a th:href="@{/member/logout_confirm}">로그아웃</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

</html>