<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">

<head>
    <title>책마루 :: 정보수정</title>

    <th:block th:replace="~{include/js/form_check_js.html::form_check_js}"></th:block>
</head>

<div class="content-wrap" layout:fragment="content">
    <h2 class="title">정보수정</h2>

    <div class="content">
        <form th:action="@{/member/modify_confirm}" name="modify_form" method="post" class="form">
            <input type="hidden" name="m_id" th:value="${session.loginedMemberInfo.m_id}">

            <div class="input-wrap">
                <input type="text" placeholder="아이디를 입력해 주세요." th:value="${session.loginedMemberInfo.m_id}" readonly disabled>
            </div>

            <div class="input-wrap">
                <a th:href="@{/member/pw_modify_form(id=${session.loginedMemberInfo.m_id},actionType='pwChange')}" class="btn highlight full">비밀번호 변경</a>
            </div>

            <div class="input-wrap">
                <input type="text" name="m_name" placeholder="이름을 입력해 주세요." th:value="${session.loginedMemberInfo.m_name}">
                <span id="icon_m_name" class="input-icon"></span>
                <span id="message_m_name" class="input-message">이름을 입력해 주세요.</span>
            </div>

            <div class="input-wrap">
                <input type="text" name="m_mail" placeholder="이메일을 입력해 주세요." th:value="${session.loginedMemberInfo.m_mail}">
                <span id="icon_m_mail" class="input-icon"></span>
                <span id="message_m_mail" class="input-message">유효한 이메일 주소를 입력해 주세요.</span>
            </div>

            <div class="input-wrap">
                <input type="text" name="m_phone" placeholder="전화번호를 입력해 주세요." oninput="extractNumbers(this)" th:value="${session.loginedMemberInfo.m_phone}">
                <span id="icon_m_phone" class="input-icon"></span>
                <span id="message_m_phone" class="input-message">전화번호는 숫자 9~12자까지 입력 가능합니다.</span>
            </div>

            <div class="input-wrap">
                <div>
                    <input type="text" id="postcode" name="m_addr_code" placeholder="우편번호" th:value="${session.loginedMemberInfo.m_addr_code}" readonly>
                    <button type="button" id="search_address_btn" onclick="searchAddress()" class="btn sub">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </button>
                </div>

                <div class="col">
                    <input type="text" id="address" name="m_addr" placeholder="주소" th:value="${session.loginedMemberInfo.m_addr}" readonly>
                    <input type="text" id="detailAddress" name="m_detail_addr" placeholder="상세주소" th:value="${session.loginedMemberInfo.m_detail_addr}">

                    <span id="icon_m_detail_addr" class="input-icon"></span>
                    <span id="message_m_detail_addr" class="input-message">주소를 입력해 주세요.</span>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" onclick="memberFormCheck('modify');" class="btn main full">정보수정</button>
                <button type="button" id="delete_account" class="btn sub full">회원탈퇴</button>
            </div>
        </form>
    </div>
</div>

</html>