<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">

<head>
    <title>책마루 :: 비밀번호 변경</title>

    <th:block th:replace="~{include/js/form_check_js.html::form_check_js}"></th:block>
</head>

<div class="content-wrap" layout:fragment="content">
    <h2 class="title">비밀번호 변경</h2>

    <div class="content">
        <form th:action="@{/member/pw_modify_confirm(id=${id})}" name="pw_modify_form" method="post" class="form">
        	<input type="hidden" name="actionType" value="passwordChange">
            <input type="password" name="m_pw" placeholder="변경하실 비밀번호를 입력해 주세요.">
            <input type="password" name="m_pw_again" placeholder="변경하실 비밀번호를 한 번 더 입력해 주세요.">
            <button type="button" onclick="pwModifyForm();" class="btn main">비밀번호 변경</button>
        </form>
    </div>
</div>

</html>