<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
    <title>책마루 :: 관리자 BOOK LIST</title>
 	
    <th:block th:replace="~{include/js/admin_js.html::admin_js}"></th:block>
    <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->
    
</head>

<div class="content-wrap" layout:fragment="content">

	<div class="content">

		 <div class="admin-category">       
	        <nav>
	            <a th:href="@{/admin/shop/saled_book_list_form}" class="cate-link">판매도서관리</a>
	            <a th:href="@{/admin/shop/return_book_list_form}" class="cate-link">반품도서관리</a>
	            <a th:href="@{/admin/shop/book_inventory_list_form}" class="cate-link">도서재고관리</a>
	        </nav>
       
         </div>
         <div>
    	 <h2 class="title">도서 재고 관리 LIST</h2>
    	 </div>
            	  
    	<div class="table-wrap">
	     	<table class="book-table">
	    		<thead>
	    			<tr>
	    			
	    				<th style="width: 50px;">도서 NO</th>
	    				<th>도서 이름</th>
	    				<th>도서 저자</th>    				    				
	    				<th>출판사명</th>
	    				<th>출판일</th>
	    				<th style="width: 60px;">분류기호</th>
	    				<th>ISBN</th>
	    				<th>도서 가격</th>    				
	    				<th>등록일</th>
	    				<th>수정일</th>
	    				<th style="width: 80px;">재고 수량</th>    			
	    				<th style="width: 80px;" th:if="${session.loginedAdminMemberDto.a_grade >= 1}">재고 수정</th>
	    				
	    				    						
	    			
	    			</tr>   	
	    	
	    		</thead>
	    		
	    		<tbody>
	    			<tr th:each="list : ${items}" >
	
	    				<td th:text="${list.b_no}"></td>    				
	    				<td th:text="${list.b_name}"></td>
	    				<td th:text="${list.b_author}"></td>    				
	    				<td th:text="${list.b_publisher}"></td>
	    				<td th:text="${list.b_publish_date}"></td>
	    				<td th:text="${list.b_kdc}"></td>
	    				<td th:text="${list.b_isbn}"></td>
	    				<td th:text="${list.b_price}"></td>    				
	    				<td th:text="${#strings.substring(list.b_reg_date, 0, 16)}"></td>
	    				<td th:text="${#strings.substring(list.b_mod_date, 0, 16)}"></td>
	    				<td th:text="${list.b_count}"></td>    				
	    				   				 
	    				<td th:if="${session.loginedAdminMemberDto.a_grade >= 1}">
	    				<a th:href="@{/admin/shop/modify_book_inventory_form(b_no=${list.b_no})}">수정</a></td>
	    				
	    			</tr>
	    		
	    		</tbody>    	
	    	
	    	</table>
       </div>
        <div class="paging">
                <div class="paging-wrap">
                    <th:block th:each="paging : ${listPageDtos}">
                        <a th:href="@{/admin/shop/book_inventory_list_form(page=${paging.pageNum})}" th:class="${paging.className}">[(${paging.pageText})]</a>
                    </th:block>
                </div>

                <div class="page-number">[[${nowPage}]] / [[${allPage}]]</div>
         </div>
    </div>
    
</div>

</html>