<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
    <title>책마루 :: 관리자 BOOK 등록</title>
 	    
    <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->
     <th:block th:replace="~{include/js/admin_js.html::admin_js}"></th:block>
</head>

<div id="regist-point" class="content-wrap" layout:fragment="content">
    <h2 class="title">도서 재고 등록</h2>
        
    <div class="content">
    	
     	 <form class="form" th:action="@{/admin/shop/modify_book_inventory_confirm}" name="modify_book_inventory_form" method="post">
     	   <div class="input-wrap">   
     	 	<span>도서 NO</span>
     	 	<input type="text" name="b_no" th:value="${bookDto.b_no}" readonly>
            <span>도서 이름</span>          
            <input type="text" name="b_name" th:value="${bookDto.b_name}" readonly>
            <span>ISBN</span>
            <input type="text" name="b_isbn" th:value="${bookDto.b_isbn}" readonly>
            <span>도서 가격</span>
            <input type="text" name="b_price" th:value="${bookDto.b_price}" readonly>
            <span>입출고 수량[입력방법: 입고 10, 출고 -10]</span>
            <p>[&nbsp;&nbsp; 현재 재고 수량 : [[${bookDto.b_count}]]&nbsp;&nbsp;]</p>
            <input type="text" name="b_count" th:value="0">
          </div>
	      <div class="btn-wrap">                  
            <button type="button" th:onclick="modifyBookInventoryForm();" class="btn main">수정</button>
            <button type="reset" class="btn highlight">초기화</button>
          </div>  
        </form>
    </div>
</div>

</html>