<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 고객 문의</title>

    <th:block th:replace="~{include/js/qna_js.html::qna_js}"></th:block>
</head>

<div id="qna-list" class="content-wrap" layout:fragment="content">
    <h2 class="title">Q & A</h2>

    <div class="content">

	    <div class="qna-item" >

           <div class="qna_info">
           		<span class="qna_title" >
                   1 : 1 문의내역
				</span>           
               	<span class="qna_id">
                   <span class="my-qna-id">gildong2</span>
               	</span>
           </div>
                
           <div class="qna-table">
         	  	<table>
            		<thead>
            			<tr>
	            			<th>제목</th>
	            			<th>작성일</th>
	            			<th>답변상태</th>
	            			<th>수정/삭제</th>
	            		</tr>           		
            		</thead>
            		<tbody th:each="list: ${qnas}">
            		  
            			<tr>
	            			<td>[[${list.q_text}]]</td>
	            			<td>[[${#strings.substring(list.q_reg_date, 0, 16)}]]</td>
	            			<td th:if="${list.q_a_reg_date == null}">답변대기</td>
	            			<td th:unless="${list.q_a_reg_date == null}">답변완료</td>
	            			<td>
	            				 <div class="qna-btn-wrap">
                    				<button type="button" class="btn main modify_qna">수정</button>
                    				<a th:href="@{/admin/qna/delete_confirm(q_no=${list.q_no})}" class="btn sub">삭제</a>
                				</div>	            	
	            			</td> 
	            		</tr>
	            		
            			<tr class="answer-wrap" style="display: none;">
	            			<td>[[${list.q_a_text}]]</td>
	            			<td>[[${#strings.substring(list.q_a_reg_date, 0, 16)}]]</td>
	            			<td>
	            				 <div class="qna-btn-wrap">
                    				<button type="button" class="btn main modify_qna" th:onclick="">수정</button>
                    				<a th:href="@{/admin/qna/delete_confirm(q_no=${list.q_no})}" class="btn sub">삭제</a>
                				</div>	            	
	            			</td>		            			
            			</tr>	            
	            		            		
            		</tbody>        	
            	</table>                
            </div>
            
		<div class="qna-wrap">
            <div class="qna-write" style="display: flex;">
			    <form th:action="@{/admin/qna/q_write_confirm}" name="q_write_form" method="post" class="form">
			        <span>주문선택</span>
			        <select name="sb_sale_date">
						<option value="">주문선택</option>
				        <option th:each="val : ${sbnos}" th:value="${val?.sb_no}" 
                				th:utext="${#strings.substring(val?.sb_sale_date, 0, 16)}">
        				</option>						
					</select>
			        <textarea name="q_text" cols="30" rows="5" placeholder="문의 내용을 작성해주세요."></textarea>
			        <button class="btn main submit q_write_btn" type="button">문의 등록</button>
			    </form>
			</div>   	
        
            <div class="modify-wrap" style="display: none;">
                <form th:action="@{/admin/qna/modify_confirm(q_no=${list.q_no})}" name="q_modify_form" method="post" class="form">
                    <input type="hidden" name="q_no" th:value="${list.q_no}" />
                    <textarea name="q_text" cols="30" rows="5" placeholder="문의 내용을 작성해주세요.">[[${list.q_text}]]</textarea>
                    <button class="btn main submit" type="button">문의 수정</button>
                </form>
            </div>
         			
        </div>
            
    </div>
</div>
</div>

</html>