<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<head>
    <title>책마루 :: 관리자 LIST</title>

 	
   <th:block th:replace="~{include/js/admin_js.html::admin_js}"></th:block>
   <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->
    <!-- <script th:src="@{js/index.js}"></script> -->
</head>

<div class="content-wrap" layout:fragment="content">
    <h2 class="title">관리자 LIST</h2>
        
    <div class="content">
      <div class="table-wrap">
    	<table>
    		<thead>
    			<tr>
    				<th style="width: 80px;">등록번호</th>
    				<th style="width: 120px;">아이디</th>
    				<th>이름</th>
    				<th style="width: 140px;">연락처</th>    				
    				<th style="width: 140px;">등록일</th>
    				<th style="width: 140px;">수정일</th>
    				<th>관리자 등급</th>
    				<th>등급 승인</th>
    				<th>계정 삭제</th>    						
    			
    			</tr>   	
    	
    		</thead>
    		
    		<tbody>
    			<tr th:each="list : ${adminMemberDtos}" >

    				<td th:text="${list.a_no}"></td>
    				<td th:text="${list.a_id}"></td>
    				<td th:text="${list.a_name}"></td>
    				<td th:text="${list.a_phone}"></td>
    				<td th:text="${#strings.substring(list.a_reg_date, 0, 19)}"></td>
    				<td th:text="${#strings.substring(list.a_mod_date, 0, 19)}"></td>
    				<td th:if="${list.a_grade == 0}" th:text="미승인"></td>
    				<td th:if="${list.a_grade == 1}" th:text="승인"></td>
    				<td th:if="${list.a_grade == 2}" th:text="super"></td>   				
    				   				 
    				<td th:if="${list.a_id == 'super admin'} ">
    				<a href="#none"></a></td>
    				<td th:unless="${list.a_id == 'super admin'} ">
    				<a th:href="@{/admin/member/set_admin_approval(a_no=${list.a_no})}">승인</a></td>
    				
    				<td th:if="${list.a_id == 'super admin'} ">
    				<a href="#none"></a></td>
    				<td th:unless="${list.a_id == 'super admin'} ">    				    				    			
    				<a href="#none" th:onclick="deleteAdminConfirm([[${list.a_no}]])">삭제</a></td>    				    			
    			  
    			</tr>
    		
    		</tbody>    	
    	
    	</table>
      </div>
   
    </div>
    
    
</div>

</html>