/* 공통 */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 5px;
}

.form input, .form select {
    display: inline-flex;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.form > div {
    display: flex;
    gap: 10px
}

.form > div > input {
    width: 80%;
}

.form > div > button {
    width: 20%;
}

.form > .btn-wrap {
    margin-top: 10px;
}

.form > .btn-wrap .btn:first-child {
    width: 20%;
}

.form > .btn-wrap .btn:last-child {
    width: 80%;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--gray-light-color);
}

.btn:hover {
    background-color: var(--gray-color);
}

.btn.bold {
    font-weight: 600;
}

.btn.main {
    background-color: var(--main-color);
    color: #fff;
}

.btn.main:hover {
    background-color: var(--main-light-color);
}

.btn.sub {
    background-color: var(--sub-color);
    color: #fff;
}

.btn.sub:hover {
    background-color: var(--sub-light-color);
}

.btn.highlight {
    background-color: var(--highlight-color);
    color: #fff;
}

.btn.highlight:hover {
    background-color: var(--highlight-light-color);
}

.btn.half {
    width: 50% !important;
}

.btn.over {
    width: 75% !important;
}

.btn.full {
    width: 100% !important;
}

/* 레이아웃 */
.wrap {
    display: flex;
    flex-direction: column;
}

.header-wrap, .category-wrap, .content-wrap, .footer-wrap {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

/* 헤더 */
header {
    width: 100%;
}

header .member-menu {
    background-color: #eaeaea;
}

header .member-menu .header-wrap {
    justify-content: right;
}

header .member-menu nav {
    display: flex;
    justify-content: right;
    gap: 5px;
}

header .member-menu nav a {
    padding: 3px 5px;
    font-size: 1.3rem;
}

header .member-menu .link-sub {
}

header .logo {
    width: 200px;
    height: 60px;
}

header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-menu {
    padding: 10px 0;
}

.header-menu .header-wrap {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-menu .search {
    width: 100%;
}

.header-menu .search form {
    display: flex;
    gap: 10px;
}

.header-menu .search input {
    width: 100%;
}

.header-menu .search .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
}

.header-menu .cart-nav {
    display: flex;
    gap: 10px;
}

.header-menu .cart-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.catogory .category-wrap {
}

.catogory nav {
    display: flex;
    gap: 5px;
}

.catogory .cate-link {
    padding: 10px;
    background: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.catogory .cate-link:hover {
    color: var(--main-light-color);
}

/* 페이지 */
.container {
    padding: 30px 0;
    min-height: 75vh;
}

.content-wrap {
    flex-direction: column;
    gap: 20px;
}

.content-wrap .title {
    text-align: center;
    font-size: 3rem;
}

.content-wrap .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#style_guide {
}

#style_guide .box-wrap {
    display: flex;
    flex-direction: column;
}

#style_guide .box-wrap > div {
    display: flex;
}

#style_guide .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
}

#style_guide .main .box {
    background-color: var(--main-color);
}

#style_guide .main .box.light {
    background-color: var(--main-light-color);
}

#style_guide .main .box.dark {
    background-color: var(--main-dark-color);
}

#style_guide .sub .box {
    background-color: var(--sub-color);
}

#style_guide .sub .box.light {
    background-color: var(--sub-light-color);
}

#style_guide .sub .box.dark {
    background-color: var(--sub-dark-color);
}

#style_guide .highlight .box {
    background-color: var(--highlight-color);
}

#style_guide .highlight .box.light {
    background-color: var(--highlight-light-color);
}

#style_guide .highlight .box.dark {
    background-color: var(--highlight-dark-color);
}

/* 푸터 */
footer {
}

footer {
}