<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: 책마루에 오신 것을 환영합니다.</title>
</head>

<div id="index" class="content-wrap" layout:fragment="content">
    <div class="content">

        <div class="recommend">
            <h2 class="title today-title">오늘의 발견</h2>

            <div id="today_banner" class="item-wrap list swiper mySwiper">
            <div class="swiper-wrapper">            
                <div th:each="item: ${recommend}" class="item swiper-slide">
                    <a th:href="@{/book/view/{b_no}(b_no=${item.b_no})}">
                        <div class="today-book-info">
                            <div class="book-img">
                                <img th:src="${item.b_thumbnail}" th:alt="${item.b_name}" class="thum">
                            </div>
                            <div class="book-info">
                                <div class="name ellipsis">[[${item.b_name}]]</div>
                                <div class="author ellipsis">[[${item.b_author}]]</div>
                                <div class="introduce">[[${item.b_introduce}]]</div>
                                <div class="publisher ellipsis">[[${item.b_publisher}]] / [[${item.b_publish_date}]]</div>
                            </div>
                        </div>                                
                    </a>
                </div>
                </div>
            </div>
        </div>

        <div class="best">
            <h2 class="title">베스트셀러</h2>

            <div class="item-wrap gallery">
                <div th:each="item: ${best}" class="item">
                    <a th:href="@{/book/view/{b_no}(b_no=${item.b_no})}">
                        <img th:src="${item.b_thumbnail}" th:alt="${item.b_name}" class="thum">
                        <div>
                            <div class="name ellipsis">[[${item.b_name}]]</div>
                            <div class="star ellipsis">
                                <i class="fa-solid fa-star"></i>
                                <span>[[${#numbers.formatDecimal(item.r_avg, 1, 1)}]] ([[${item.r_count}]])</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="banner-main">
            <!-- <h2 class="title">메인 배너</h2> -->

            <div class="item-wrap">
                <div id="main_banner" class="main-banner swiper mySwiper">
                    <div class="swiper-wrapper banner">
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner4.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner7.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner6.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner1.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner2.png}"></div>
                        <div class="swiper-slide"><img th:src="@{/img/banner/addBanner3.png}"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="new">
            <h2 class="title">새로운 책</h2>

            <div class="item-wrap gallery">
                <div th:each="item: ${news}" class="item">
                    <a th:href="@{/book/view/{b_no}(b_no=${item.b_no})}">
                        <img th:src="${item.b_thumbnail}" th:alt="${item.b_name}" class="thum">
                        <div>
                            <div class="name ellipsis">[[${item.b_name}]]</div>
                            <div class="publisher ellipsis">[[${item.b_reg_date}]]</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>