<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<div th:fragment="content">
    <div th:each="item : ${test}">
        <div th:text="${item.b_no}"></div>
        <img th:src="${item.b_thumnail}">
        <div th:text="${item.b_name}"></div>
        <div th:text="${item.b_author}"></div>
        <div th:text="${item.b_intorduce}"></div>
        <div th:text="${item.b_publisher}"></div>
        <div th:text="${item.b_publish_date}"></div>
        <div th:text="${item.b_kdc}"></div>
        <div th:text="${item.b_isbn}"></div>
        <div th:text="${item.b_price}"></div>
        <div th:text="${item.b_count}"></div>
        <div th:text="${item.b_reg_date}"></div>
        <div th:text="${item.b_mod_date}"></div>
    </div>
</div>

</html>