<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>책마루 :: {페이지 이름}</title>

    <!-- { 이 페이지에서만 쓰는 css, script 등 } -->
    <!-- <link rel="stylesheet" th:href="@{css/reset.css}"> -->
    <!-- <script th:src="@{js/index.js}"></script> -->
</head>

<section id="style_guide" class="content-wrap" layout:fragment="content">
    <h2 class="title">STYLE GUIDE</h2>

    <div class="content">

        <div class="color">
            <div class="title">COLOR</div>

            <div class="box-wrap">
                <div class="main">
                    <div class="box light">MAIN - LIGHT</div>
                    <div class="box">MAIN</div>
                    <div class="box dark">MAIN - DARK</div>
                </div>

                <div class="sub">
                    <div class="box light">SUB - LIGHT</div>
                    <div class="box">SUB</div>
                    <div class="box dark">SUB - DARK</div>
                </div>

                <div class="highlight">
                    <div class="box light">HIGHLIGHT - LIGHT</div>
                    <div class="box">HIGHLIGHT</div>
                    <div class="box dark">HIGHLIGHT - DARK</div>
                </div>
            </div>
        </div>

    </div>
</section>

</html>