<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
성공이당
<div id="header_wrap" th:if="${session.loginedMemberInfo == null}">
		<a th:href="@{/}">home</a> &nbsp;&nbsp;
		<a th:href="@{/member/create_account_form}">create account</a> &nbsp;&nbsp;
		<a th:href="@{/member/member_login_form}">login</a> &nbsp;&nbsp;
	</div>
	<div id="header_wrap" th:unless="${session.loginedMemberInfo == null}">
		<a th:href="@{/}">home</a> &nbsp;&nbsp;
		<a th:href="@{/member/member_modify_form}">modify</a> &nbsp;&nbsp;
		<a th:href="@{/member/member_logout_confirm}">logout</a> &nbsp;&nbsp;
	</div>
	<a th:href="@{/member/login_form}">로그인</a>
	<a th:href="@{/member/modify_form}">정보수정</a>
	<a th:href="@{/member/logout_confirm}">로그아웃</a>
	<a th:href="@{/member/delete_confirm}">회원탈퇴</a>
</body>
</html>